@charset "utf-8";
/* CSS Document */

html {

text-rendering: optimizeLegibility !important;

-webkit-font-smoothing: antialiased !important;

}

@font-face {
    font-family: myriadPro;
    src: url(../fonts/MYRIADPRO-REGULAR.eot); /* IE9 Compat Modes */
	src: url(../fonts/MYRIADPRO-REGULAR.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(../fonts/MYRIADPRO-REGULAR.ttf),
		 url(../fonts/MYRIADPRO-REGULAR.woff);
}

@font-face {
    font-family: lato;
	src: url(../fonts/Lato-Regular.eot); /* IE9 Compat Modes */
	src: url(../fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(../fonts/Lato-Regular.ttf),
		 url(../fonts/Lato-Regular.woff);
}
@font-face {
    font-family: latoLight;
	src: url(../fonts/Lato-Light.eot); /* IE9 Compat Modes */
	src: url(../fonts/Lato-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(../fonts/Lato-Light.ttf),
		 url(../fonts/Lato-Light.woff);
}
@font-face
{
    font-family: OpenSans-Semibold;
	src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: local('☺'), 
       url('./fonts/OpenSans-Regular-webfont.woff') format('woff'), 
       url('../fonts/OpenSans-Light.ttf') format('truetype'); 
        
}

body{
 	background-color: #FFF;
 	font-family: 'lato', sans-serif;
 	overflow-x:hidden;
 	color: #707070;
  	font-size: 14px;
}

body a{
	text-decoration: none;
}

body a:hover, body a:focus, .*{
	outline: medium none;
}

body ul{
	padding-left: 0;
	list-style-type: none;
}
hr{
	border-width: 1px 0 0;
	border-color: #c6c6c6;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #222;
    color: white;
    text-shadow: none;
}

img{
	max-width: 100%;
}
/**********************/

/*.rsp_image{
	width: 100%;
}*/

/*********** HEADER ************/

.upper_header{
	padding-top: 10px;
}
.upper_header .btn {
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
}

/*** navigation bar ***/

.nav_cust_style{
	min-height: 0px;
	position: relative;
	background: #3775dd;
    margin-top: 20px;
    color: #fff;
	border-radius: 2px;
	border: medium none;
	margin-bottom: 0;
	margin-top: 20px;
	width: inherit;
}
.nav_cust_style .nav.navbar-nav.nav-justified li{
	width: auto;
}
.nav_cust_style .nav.navbar-nav.nav-justified li a{
	color: #fff;
	text-transform: capitalize;
	padding-bottom: 8px;
    padding-top: 7px;
	transition: all ease-in-out 0.3s;
}
.nav_cust_style .nav.navbar-nav.nav-justified li a:hover, .nav_cust_style .nav.navbar-nav.nav-justified li a:focus, .nav_cust_style .nav.navbar-nav.nav-justified li a:active{
	
	color: #003;
    text-shadow: none;
}
.nav_cust_style, #top_nav .nav.navbar-nav.nav-justified{
	border-radius: 4px;
}
.nav_cust_style .navbar-nav {
    margin: 0.5px 10px !important;
}
#top_nav{
	padding-left: 0;
	padding-right: 0;
}
.nav_cust_style .navbar-nav > li{
	float: none;
	font-size: 15px;
 	font-family: 'myriadPro';
}

.nav_cust_style .navbar-nav > .active > a, .nav_cust_style .navbar-nav > .active > a:hover, .nav_cust_style .navbar-nav > .active > a:focus{
	background: #3775dd;
	color: #003 !important;
	box-shadow: none;
}
.nav_cust_style .navbar-brand{
	color: #fff;
}
.nav_cust_style .navbar-toggle{
	background: #fff;
	color: #000;
}
.nav_cust_style .navbar-nav > .open > a, .nav_cust_style .navbar-nav > .open > a:hover, .nav_cust_style .navbar-nav > .open > a:focus{
	background-color: #3C84C1;
	color: #fff;
	border-color: #999;
}
.nav_cust_style .navbar-nav .dropdown-menu{
	background-color: #3C84C1;
}

.nav_cust_style .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #fff;
    background-image: none;
    background-repeat: repeat-x;
    outline: 0 none;
}
.nav_cust_style .dropdown-menu > li > a{
	text-transform: capitalize;
}
/******* custom color ******/
.navbar-toggle.left{
	float: left;
}

.main_container .list-group-item.active, .main_container .list-group-item.active:hover, .main_container .list-group-item.active:focus, .right_tab_content div.right_tab ul.nav.nav-tabs{
	background-color: #3775dd;
	background-image: none;
}

/********** search_bar ***********/


.list-group-item-heading.right_side_hding, .list-group-item-heading.left_side_hding{
	font-size: 15px !important;
}
.main_container .search_bar, .main_container .sign_in{
	margin-top: 25px;
	margin-bottom: 30px;
}
.search_btn{
	 background: #3498db;
	  background-image: -webkit-linear-gradient(top, #3775dd, #2980b9);
	  background-image: -moz-linear-gradient(top, #3775dd, #2980b9);
	  background-image: -ms-linear-gradient(top, #3775dd, #2980b9);
	  background-image: -o-linear-gradient(top, #3775dd, #2980b9);
	  background-image: linear-gradient(to bottom, #3775dd, #2980b9);
	  -webkit-border-radius: 5;
	  -moz-border-radius: 5;
	  border-radius: 5px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 16px;
	  padding: 8px 25px;
	  text-decoration: none;
	  box-shadow: 0 2px #21487f;
	  border: medium none !important;
	  text-shadow: none;
	  
	  margin-left:-25px;
}
.search_btn:hover{
	background: #1476b3;
  	text-decoration: none;
	 box-shadow: none;
	 color: #fff;
	 box-shadow: 0 2px #21487f;
}


/***** slider for latest news ******/

#slider-thumbs ul li{
	width: 19%;
	margin-top: 5px;
}
#slider-thumbs .list-inline{
	margin-left: 0;
}
#slider-thumbs .list-inline > li{
	padding-left: 0;
	padding-right: 0;
}

.carousel-control.left,.carousel-control.right{	
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	box-shadow: none;
	padding: 10px;
	background: rgba(0,0,0,0.8);
	 font-size: 30px;
    height: 52px;
    line-height: 1;
    padding: 10px;
    text-align: center;
    width: 88px;
    top: 50%;
    margin-top: -26px;
}

.product-box{
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
	padding: 17px;
	margin-bottom: 30px;
}
.footer{
	margin-top: 30px;
	background: #eaeaea;
}
.footer-botom{
	background: #dbdddb;
	padding: 7px 0 5px;	
}
.copy-part{
	color: #555;
	font-size: 13px;
	display: inline-block;
	margin-right: 10px;
	padding: 6px 0;
}
.pasta-part{
	padding-top: 30px;
}
.pasta-box{
	position: relative;
}
.special-discount{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	background: rgba(255,2155,255,0.8);
	height: 45px;
}
.special-discount h4{
	font-size: 22px;
	color: #000000;
	margin: 0;
}
.pasta-look{
	font-size: 17px;
	color: #000;
	 margin-top:1px;
	 display: inline-block;
	
}
.pasta-look:hover{
	color:#0f75bd;	
	text-decoration: none;
	right:0;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.pasta-look i{
	right: 0px;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.pasta-look:hover i{
	right: -5px;
		-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	position: relative;
}
.sfeatured-product h2{
	padding: 10px;
	background: #00b0f0;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 30px 0;
}
.add-to-cart-part{
	margin-top: 10px;
}
.addto-cart{
	background: #00a6e6;
	padding: 5px 15px;
	color: #ffffff;
	font-size: 16px;
	padding-left: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 66%;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	line-height: 23px;
}
.addto-cart i{
	margin-right: 10px;
}
.like-cart{
	background: #000000;
	padding:5px 10px;
	color: #ffffff;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	line-height: 23px;
}
.wish-cart{
	background: #000000;
	padding:4px 10px 4px;
	color: #ffffff;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	line-height: 25px;
}
.add-to-cart-part a.wish-cart:hover,.add-to-cart-part a.like-cart:hover {
	background: #00a6e6;
}
.product-details{
	padding: 15px 0 0;
}
.product-details h4{
	font-size: 18px;
	color: #000000;
	margin: 0 0 10px;
}
.rate-product span{
	color: #de3e46;	
}
.rate-product span:first-child{
	font-size: 18px;
}
.rate-product span:last-child{
	color: #000000;
	font-size: 15px;
}
.add-to-cart-part a:hover{
	color: #ffffff;
	text-decoration: none;
	background: #000000;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
}
.tick-box{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 60px;
	height: 60px;
	background: url(../images/tag.png) no-repeat left bottom;
	padding-top:30px;
	padding-left: 23px;
}
.select-box{
	border: 1px solid #c0c0c0;
	padding: 5px 2px;
	width: 100%;
}
.picture-of-product img{
	width: 100%;
}
.product-big-box{
	position: relative;
}
.product-big-box h3,.product-big-box h5{
	position: absolute;
	
}
.product-big-box h3{
	text-transform: uppercase;
	font-size: 22px;
	margin: 0;
}
.product-big-box h5{
	text-transform: uppercase;
	font-size:14px;
	margin: 0;
}
.frst-box h3{
	color: #000000;
	top: 25px;
	left: 20px;
}
.second-box h3{
	color: #ffffff;
	top: 25px;
	left: 20px;
}
.second-box h3 span{
	display: block;
	color: #ec2e1f;
}
.second-box h5 {
	color: #ffffff;
	bottom: 25px;
	left: 20px;
}
.third-box h5{
	color: #ffffff;
	bottom: 25px;
	left: 20px;
}
.third-box h3{
	color: #ffffff;
	bottom: 65px;
	left: 20px;
}
.tick-box i{
	color: #ffffff;
	font-size: 18px;
}

.footer h4{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.footer ul li a{
	color: #555;
	font-size: 13px;
	text-decoration: none;
}
.footer ul li a:hover{
	color: #000000;
	text-decoration: none;
}
.telephone-num span{
	color: #000000;
	font-size: 16px;
}
.telephone-num span:first-child{
	color: #e74b3f;
	font-size: 16px;
}
.serch-part i{
	font-size: 15px;
	color: #ffffff;
}
.serch-part .btn{
	padding: 6px 10px 6px;
}
.select-box i{
	font-size: 14px;
	color: #000;
}

.top-nav-signup-part {
	
}
.sign-up-part .col-sm-4{
	padding: 0 5px;
}
.select-part .col-sm-6{
	padding: 0 5px;
}
.sign-up-part .btn{
	padding: 4px 5px;
	width: 100%;
	border: none;
}
.sign-up-part .btn-group {
		width: 100%;
}
.cart-box .btn{
	padding: 6px 12px;
}
.serch-part input[type="text"]{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	
}
.top-nav-signup-part ul li{
	padding:5px 10px;
}
.top-nav-signup-part ul li:first-child{
	padding-left: 0;
}
.top-nav-signup-part ul li a{
	padding:0px; 
    color: #000000;
    background: none;
   }
 .top-nav-signup-part ul li a:hover{ 
 	color: #00b0f0;
 	 background: none;
 }
.row.top-nav-signup-part{
	margin-bottom: 20px;
	margin-right: 0;
	margin-top: 18px;
}
.row.top-nav-signup-part .col-sm-5{
	padding-left: 0;
}
.select-part .col-sm-5,.row.top-nav-signup-part .select-part .col-sm-6 {
	padding-right: 0;padding-left: 5px;
}

.sign_in .btn-default:hover,.sign_in .btn-default:focus,.sign_in .btn-default.focus,
.sign_in .btn-default:active,.sign_in .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: #167ca4;
	background:none;
	border:none;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	background: #00b0f0;
	color: #ffffff;
	border: 1px solid #00b0f0;
	
}
.serch-part .search-btn{
	background: #00b0f0;
	color: #ffffff;
	border: 1px solid #00b0f0;
}
.cart-box .form-control{
	border-radius:0px; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.cart-box i{
	font-size: 18px;
	color: #00b0f0;
	margin-right: 10px;
}
.cart-box .btn-default:hover  i,.cart-box .btn-default:focus i,.cart-box .btn-default:active i,.cart-box .open > .dropdown-toggle.btn-default i{
	color: #ffffff;
}
.navbar-collapse.top-nav-upper {
	padding-left: 0;
}
.navigation-part{
	margin-top: 0px;
	margin-bottom: 15px;
	background: #00b0f0;
}
.navigation-part ul{
	display: table;
	width: 100%;
}
.navigation-part ul li{
	border-left:1px solid #8bd9f8; 
	float: none;
	display: table-cell;
	text-align: center;
}
.navigation-part ul li:first-child{
	border: none;
}
.navigation-part ul li a{
	color: #ffffff;
	padding-top:10px;
	padding-bottom: 10px; 
}
.navigation-part ul li a:hover{
	background: #f14134;
}
.navigation-part ul ul{
	display: none;
}
.navigation-part ul ul li{
	display: block;
	text-align: left;
}
.navigation-part .nav > li > a:hover, .navigation-part .nav > li > a:focus {
	background: #12a9e0;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}
.navigation-part .nav .open > a,.navigation-part .nav .open > a:hover,.navigation-part .nav .open > a:focus{
	background: #f14134;
}
.navigation-part ul ul li a{
	color: #000000;
}
.navigation-part ul ul li a:hover{
	color: #ffffff;
}
.cart-box-inner{
	color: #00000;
}
.fresh-fruit{
	position: relative;
	display: block;
}
.fresh-fruit .hover-fruit{
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	/*bottom: 0;
	right:0;*/
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
}
.fresh-fruit:hover{
	text-decoration: none;
}
.fresh-fruit:hover .hover-fruit{
	visibility: visible;
	opacity: 1;	
	background: rgba(4,168,228,0.6);
	/*background: rgba(0,0,0,0.7);*/
	color: #ffffff;
	font-size: 30px;
	padding: 25px;
	text-align: center;
	text-decoration: none;
	line-height: 153px;
}
.cart-drop-down-part{
	padding: 15px;
	border: 1px solid #000;
	border-radius:0px;
	-webkit-border-radius:0px;
	-ms-border-radius:0px; 
	width: 300px;
}
.logo-part{
	margin:-5px 0 0;
}
.cart-item-pic{
	float: left;
	width: 70px;
	height:70px;
	margin-right: 10px;
}
.catr-item-details{
	overflow: hidden;
}
.cart-iem-box{
	padding: 10px 0;
	border-bottom: 1px solid #cccccc;
}
.catr-item-details h4{
	color: #000;
	font-size: 15px;
	margin:0 0 5px; 
}
.catr-item-details h4 sup{
	background: #0f6393;
	color: #ffffff;
	padding: 0px 4px 0;
	font-size: 10px;
	line-height: 15px;
}
.submit-rupees{
	background: #0c87c7;
	padding: 5px;
	text-align: center;
	display: block;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
}
.submit-rupees:hover{
	background: #222;
	text-decoration: none;
	color: #ffffff;	
}
.total-ruppes{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
	padding: 5px 0;
}
.qty-text{
	padding: 5px 0;
}
.qty-text span{
	margin-right: 5px;
}
.qty-text input{
	border: 1px solid #666;
	outline: none;
	color: #000000;
	padding: 5px;
	width: 70px;
}
.price-text{
	color: #000000;
	padding: 5px 0;
	font-size: 16px;
}
.catr-item-details > p {
    display: block;
    font-size: 13px;
    white-space: normal;
}
.side-nav{
	margin-top: 0px;
	padding-right: 0;
	position: relative;
}
.online-shop,.online-shop2{
	background: #00b0f0;
	padding:10px 30px 10px 10px;
	position: relative;	
	color: #ffffff;
}
.colpas-nav{
	position: absolute;
	right: 7px;
	top:7px;
	font-size: 17px;
}
.shop-list{
	list-style: none;
	margin: 0 -15px;
	border: 1px solid #ddd;
}
.shop-list li{
	display: block;
	border-bottom: 1px solid #eee;
}
.shop-list li a{
	padding:7px 10px;
	color: #000000;
	display: block;
	position: relative;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
}
.shop-list li a:hover{
	background-color: #00b0f0;
	color: #ffffff;
	text-decoration: none;
}
.shop-more-list{
	margin-top: 20px;
}
.slider-part .carousel-caption{
	background: #ffffff;
	left: auto;
	right: 10%;
	top: 10%;
	width: 30%;
	padding: 15px;
	color: #000;
	text-shadow: none;
	height: 200px;
}
.shop-list li:hover .mega-drop-down{
		display: block;
}
.shop-list li:hover a{
	background: #00b0f0;
	color: #ffffff;
}
.shop-list li dt{
	float: right;
	position: relative;
	width: 0;
}
.shop-list li dt:after{
		border-top:5px solid transparent;
		border-bottom:5px solid transparent;
		border-left:6px solid #ffffff;
		position: absolute;
		content: "";
		bottom:12px;right: 2px;
		pointer-events:none;
}
#left-nav{
	position: absolute;
	left: 15px;
	right: 1px;
	
}
.mega-drop-down{
	position: absolute;
	display: none;
	z-index: 99;
	left:275px;
	width:865px;
	min-height:489px;
	background: #ffffff; 
	top:1px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	padding: 15px;
}

.shop-list li:hover ul ul li a{
	background: none;
	color: #000;
	padding:0px 0px;
	margin-bottom: 5px;
}
.shop-list li:hover ul ul li:first-child a{
	font-weight: bold;
	margin-bottom: 8px;
}
.shop-list li:hover ul ul li a:hover{
	color: #00b0f0;
}
.shop-list li ul li,.shop-list li ul ul li{
	border: none;
}
.shop-list li ul li{
	margin-bottom: 15px;
}
.shop-list li ul ul li{
	margin-bottom: 0;
}
.shop-list li ul h2{
	margin: 0 0 10px;
}
.shop-list li ul h2 a{
	font-size: 18px;
}
.footer-link{
	margin: 0;
	padding:5px 0 7px; 
	display: inline-block;
	
}
.footer-link li{
	display: inline-block;
	vertical-align: middle;
	margin:0 10px 0 0;
}
.social-part{
	padding:5px 15px;
}
.social-part a {
    display: inline-block;
    font-size: 26px;
    line-height: 1;
    color: #000000;
    margin: 0 3px;
}
.transuctiona{
	padding:5px 15px;
}
.transuctiona a{
	width: 45px;
	display: inline-block;
}
